html {
  scroll-behavior: smooth;
  background-color:#222222;
}

p {
  color:#aaa;
}

strong {
    color: #ddd;
    font-weight: 700;
}

.container-master {
    font-family: 'Raleway', sans-serif, bold;
    padding-bottom: 5vh;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.particles-js-canvas-el{
  position:absolute;
  max-height:100vh;
  width:100vw;
  top:0;
  left:0;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='2' /></filter></svg>#svgMask");
}

.image img { 
    height: 100%; 
    object-fit: cover; 
}

.container-top {
    font-family: 'Raleway', sans-serif, bold;
    background-color: #E5E5E5;
}

.container {
    font-family: 'Raleway', sans-serif, bold;
    font-size:1rem;
    max-width: 100%;
    width: 1000px;
}

hr {
    background: #D8DCE6;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin: auto;
    max-width: 100vw;
}

.hero .title {
    font-size:5rem;
    font-family: 'Raleway', sans-serif;
    
    color: #ffffff;
    text-align: center;
    padding-bottom: 1rem;
}

.hero .subtitle {
    font-size:2rem;
    font-family: 'Raleway', sans-serif;
    
    color: #ffffff;
    text-align: center;
    padding-bottom: 1rem;
}

.title {
    font-size:3rem;
    font-family: 'Raleway', sans-serif;
    
    color: #eeeeee;
    text-align: center;
    padding-bottom: 1rem;
}

.subtitle {
    font-size:2rem;
    font-family: 'Raleway', sans-serif;
    
    color: #dddddd;
    text-align: center;
    padding-bottom: 1rem;
}

.has-shadow{
    box-shadow: 4px 4px black;
}

.inverted-button {
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 1rem;
}

.hero{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #1d0033; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #371f4a 0%,#002925 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #371f4a 0%,#002925 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #371f4a 0%,#002925 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.hero .hero-body {
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
}

.hero .hero-body img{
    height:10rem;
}

.hero .hero-body a.selected {
    font-size: 17.3333px;
    line-height: 19px;
    text-align: right;
    color: #53BE4B;
}

.hero .hero-body a {
    font-size: 17.3333px;
    font-weight: 700;
    line-height: 19px;
    text-align: right;
    color: #5D627A;
}

.me{
    display: flex;
    max-height:30rem;
    width:auto;
    margin:auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.cv{
    display: flex;
    max-height:20rem;
    width:auto;
    margin:auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.is-orange{
    color: white !important;
    background-color: orangered;
    border-color: red;
}

.is-green{
    color: white !important;
    background-color: darkgreen;
    border-color: black;
}

.column p{
    padding-bottom:0.5rem;
}

.column .title{
    font-size:1.5rem;
    font-family: 'Raleway', sans-serif;
    text-align:left;
    color: #dddddd;
    padding-bottom:1rem;
    margin-bottom:0;
}

.column .subtitle{
    font-size:1rem;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #fff;
    padding-bottom:1rem;
    padding-top:1rem;
    margin-bottom:0;
}

#tickler {
    min-width: 280px;
    max-width: 300px;
}

.title {
    max-width: 1000px;
    margin: auto;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 100%;
  width: 100%;
  min-height: 20rem;
  position: relative;
}

.card__side {
  position: absolute;
  height:100%;
  width:100%;
  margin: auto;
  -webkit-transition: all 0.8s ease;
          transition: all 0.8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
  overflow: hidden;
  background-color:#fff;
}
.card__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
   background-color:#222;
}
.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.card:focus .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:focus .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.card__cont {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  background-repeat: no-repeat;

}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 5px;
  background-color:#222;
}
.card__cta p {
  margin-left: 1rem;
}
.card__cta p > .space {
  margin-left: 2rem;
}

.tile .is-child{
  background-color:#222;
}

.card-rectangle {
    background: #66BB6A;
    box-shadow: 0px 25px 25px rgba(118, 196, 125, 0.314538);
    border-radius: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.description{
    padding-bottom:1rem;
}

.level {
    max-width: 100vw;
    margin: auto;
    padding-top: 1.5vh;
}

.content {
    max-width: 100vw;
    margin: auto;
}

.level-item {
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio{
    background: #333;
}

.portfolio .container{
    background: #333;
}

.sig-div{
  max-width:20vw;
  margin:auto;
  border-width: 1px;
  border-color:#000000;
}

.sig {
  z-index:1000;
  position:absolute;
  width:250px;
  max-width:30vw;
  left:50px;
  display:none;
}

.footer{
  background-color:#111;
}

div:focus {
    outline: none;
}

@media (max-width: 860px) {
    .hero .title {
      font-size:2rem;
      font-family: 'Raleway', sans-serif;
      
      color: #ffffff;
      text-align: center;
      padding-bottom: 0.5rem;
    }

  .hero .subtitle {
      font-size:1.5rem;
      font-family: 'Raleway', sans-serif;
      
      color: #ffffff;
      text-align: center;
      padding-bottom: 0.5rem;
    }

  .hero .hero-body img{
    height:5rem;
    margin-bottom:1rem;
  }
  .sig{
    display:none
  }
  .sig-div{
    max-width:100%;
  }
}