# particles.css
# for animation
/* ---- particles.js container ---- */

.particles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}